<script type="text/javascript" src="http://tajs.qq.com/stats?sId=55063248" charset="UTF-8"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?6a603fa3ccd0a0c1dbc7de803125a61f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
(function() {
  var hm = document.createElement("script");
  hm.src = "//tajs.qq.com/stats?sId=55063248";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>