<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="content markdown-body">
        {{ content }}
    </div>
    <div class="post-list">
        <ul>
        {% for post in site.posts %}
            <li><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                {{ post.title }}
            </a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="profile">
        <a class="logo" href="/"><img src="/favicon.jpg" alt=""></a>
        <ul class="post-category">
        {% for tag in site.tags %}
            <li><a href="{{site.baseurl}}/tags/?tag={{tag[0] | cgi}}" title="{{ tag[0] }}">
                {{ tag[0] }}({{ tag[1].size }})
            </a></li>
        {% endfor %}
        </ul>
        <footer>
            <p>友情链接</p>
            <ul>
                <li><a href="">link1</a></li>
                <li><a href="">link1</a></li>
                <li><a href="">link1</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>